# Checkpoint 0 
## Do not remove comments that start with: "# @@@" (Those are question tags)

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code! 

Do not remove comments that start with: "# @@@" (Those are question tags)

In [ ]:
# @@@ Question 1: Here is a python list, initialize another list called b with the same values as a.
a = [1, 2, 3, 4, 5, 6]
b = [1, 2, 3, 4, 5, 6]
print(b)

In [5]:
# @@@ Question 2: get a list containing the last 3 elements of b 
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to use list slicing in Python
b[-3:]

[4, 5, 6]

In [7]:
# @@@ Question 3: Create a list of numbers from 1 to 20
list(range(1,21))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
# @@@ Question 4: now get a list with only the even numbers between 1 and 100
list(range(2,101,2))

In [10]:
# @@@ Question 5: write a function that takes two numbers as arguments
# and returns the first number divided by the second
def function(one, two):
    return one/two
    
print(function(2,2))

1.0

In [ ]:
# @@@ Queston 6: fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 30 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the number

for i in range(1,31):
    if i%3 and i%5:
        print("fizzbuzz")
    if i%3 == 0:
        print("fizz")
    if i%5 == 0:
        print ("buzz")
    else:
        print(i)

In [ ]:
# @@@ Question 7: create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9 
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10

menu = {"Gyro":9, "Burger": 9, "Greek Salad": 8, "Philly Steak": 8}

In [15]:
# @@@ Question 8: load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial

import pandas as pd
read = pd.read_csv("../data/starbucks.csv")
read

,beverage_category,beverage,beverage_prep,calories,total fat,trans fat,saturated fat,sodium,total carbohydrates,cholesterol,dietary fibre,sugars,protein,vitamin a,vitamin c,calcium,iron,caffeine
0,coffee,brewed coffee,Short,3,0.1,0.0,0.0,0,5,0,0,0,0.3,0,0,0,0.0,175.0
1,coffee,brewed coffee,Tall,4,0.1,0.0,0.0,0,10,0,0,0,0.5,0,0,0,0.0,260.0
2,coffee,brewed coffee,Grande,5,0.1,0.0,0.0,0,10,0,0,0,1.0,0,0,0,0.0,330.0
3,coffee,brewed coffee,Venti,5,0.1,0.0,0.0,0,10,0,0,0,1.0,0,0,2,0.0,410.0
4,classic espresso drinks,caff latte,Short Nonfat Milk,70,0.1,0.1,0.0,5,75,10,0,9,6.0,10,0,20,0.0,75.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,frappuccino blended crme,strawberries crme (without whipped cream),Soymilk,320,3.2,0.4,0.0,0,250,67,1,64,5.0,6,8,20,10.0,0.0
238,frappuccino blended crme,vanilla bean (without whipped cream),Tall Nonfat Milk,170,0.1,0.1,0.0,0,160,39,0,38,4.0,6,0,10,0.0,0.0
239,frappuccino blended crme,vanilla bean (without whipped cream),Whole Milk,200,3.5,2.0,0.1,10,160,39,0,38,3.0,6,0,10,0.0,0.0
240,frappuccino blended crme,vanilla bean (without whipped cream),Soymilk,180,1.5,0.2,0.0,0,160,37,1,35,3.0,4,0,10,6.0,0.0
241,frappuccino blended crme,vanilla bean (without whipped cream),Grande Nonfat Milk,240,0.1,0.1,0.0,5,230,56,0,55,5.0,8,0,15,0.0,0.0

In [ ]:
# @@@ Question 9: select all rows with more than and including 400 calories

read[read["calories"] >= 400]

In [ ]:
# @@@ Question 10: select all rows whose vitamin c content is higher than the iron content

read[read["vitamin c"] > read["iron"]]

In [20]:
# @@@ Question 11: create a new column containing the caffeine per calories of each drink

read["new"] = read["caffeine"] / read["calories"]
read.head()

,beverage_category,beverage,beverage_prep,calories,total fat,trans fat,saturated fat,sodium,total carbohydrates,cholesterol,dietary fibre,sugars,protein,vitamin a,vitamin c,calcium,iron,caffeine,new
0,coffee,brewed coffee,Short,3,0.1,0.0,0.0,0,5,0,0,0,0.3,0,0,0,0.0,175.0,58.333333
1,coffee,brewed coffee,Tall,4,0.1,0.0,0.0,0,10,0,0,0,0.5,0,0,0,0.0,260.0,65.000000
2,coffee,brewed coffee,Grande,5,0.1,0.0,0.0,0,10,0,0,0,1.0,0,0,0,0.0,330.0,66.000000
3,coffee,brewed coffee,Venti,5,0.1,0.0,0.0,0,10,0,0,0,1.0,0,0,2,0.0,410.0,82.000000
4,classic espresso drinks,caff latte,Short Nonfat Milk,70,0.1,0.1,0.0,5,75,10,0,9,6.0,10,0,20,0.0,75.0,1.071429

In [22]:
# @@@ Question 12: what is the average calorie across all items?

read["calories"].mean()

np.float64(193.87190082644628)

In [24]:
# @@@ Question 13: how many different categories of beverages are there?

read["beverage_category"].nunique()

9

In [25]:
# @@@ Question 14: what is the average # calories for each beverage category?

cat = read.groupby("beverage_category")
cat["calories"].mean()

beverage_category
classic espresso drinks             140.172414
coffee                                4.250000
frappuccino blended coffee          276.944444
frappuccino blended crme            233.076923
frappuccino light blended coffee    162.500000
shaken iced beverages               114.444444
signature espresso drinks           250.000000
smoothies                           282.222222
tazo tea drinks                     177.307692
Name: calories, dtype: float64